body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: cursive;
}


.colors {
    background-color: chocolate; color: white; text-align: center;
}

#Ppal_image {
    width: 100%;
    height: 450px;
}

.div_father {
  display: inline-flex
}

.news {
    background-color: chocolate;
    color: white;
}
.news_block {
    width: 70%;
    margin-left: 5%;
  
    text-align: center;
    display: inline-block;
  }
.paragraph_text {
    font-size: 18px;
}  

  #without_dots {
    list-style-type:none;
  }

  #bugs {
    width: 30%;
    text-align: center;
    display: inline-block;
  }

  .pokemon_pictures { 
    width: 50%;
}

.logos {
width: 3.5%;
}

#rrss {
display: inline;
}
#name {
    display: inline;
    }

.shadow:hover {
  background-color: #D3D3D3;

}    

.rotate:hover {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.futer {
  margin-top: 3%;
}